@use 'hero';
@use 'history';
@use 'informations';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
}

body {
    background-color: #fff;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}